<h1>Burgers!</h1>

<h2>Ordered Burgers!</h2>

<ul>
  {{#each burgers}}
  {{#unless this.devoured}}
  <li class="burger-list">{{this.burger_name}}
              <button type="button" class="btn btn-primary devoured-btn" data-id="{{id}}">Devour it!</button>
            </li>
  {{!-- {{> burger-status devoured=true}}  --}}
  {{!-- <form action="burgers/update/{{this.id}}?_method=PUT" method="POST">
      <input type="hidden" name="completed" value="true">
      <button type="submit">Eat me!</button>
    </form> --}}
  
  
  {{/unless}}
  {{/each}}
</ul>

<h2>Eaten Burgers!</h2>

<ul>
  {{#each burgers}}
  {{#if this.devoured}}
<li class="burger-list-eaten">{{this.burger_name}}
            </li>
  {{/if}}
  {{/each}}
</ul>

<h2>Add a Burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="ca">Burger Name:</label>
    <input type="text" id="ca" name="name">
  </div>

  {{!-- <div class="form-group">
    <label for="sleepy">Sleepy?</label><br>
    <input type="radio" name="sleepy" value="1" checked> Sleepy!<br>
    <input type="radio" name="sleepy" value="0"> Awake
  </div> --}}

  <button type="submit">Order</button>
</form>